<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet"
   type = "text/css"
   href = "http://code.divshot.com/geo-bootstrap/swatch/bootstrap.min.css" />
<link rel = "stylesheet"
   type = "text/css"
   href = "http://code.divshot.com/geo-bootstrap/swatch/bootstrap.css" />
</head>
 <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="">CV</a>
         <li><a href="http://github.com/daveyman123">GitHub</a></li>
          
          <li style="padding-top: 6px">&nbsp;
            <iframe id="twitter-widget-0" scrolling="no" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 76px; height: 28px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2d991e3dfc9abb2549972ce8b64c5d85.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fcode.divshot.com%2Fgeo-bootstrap%2F&amp;size=l&amp;text=Geo%2C%20a%20new%20Bootstrap%20theme%20from%20Divshot&amp;time=1572106291036&amp;type=share&amp;url=http%3A%2F%2Fcode.divshot.com%2Fgeo-bootstrap%2F&amp;via=divshot" frameborder="0"></iframe>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </li>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
          <li><a rel="tooltip" target="_blank" href="http://www.divshot.com" title="Static Web Hosting">Free Static Web Hosting <i class="icon-share-alt"></i></a></li>
        </ul>
       </div>
     </div>
   </div>
 </div>

    <div class="container">
<body>

<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
<blink>
  <h2>David</h2>
</blink>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Learning Technology</li>
    <li>Reading</li>
    <li>Databases</li>
    <li>Programming</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>SQL and Software Design</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <!--Link-->
    <a href="https://www.cpsk12.org/rbhs">
      <li>Rock Bridge High School</li>
    </a>
    <a href="http://www.missouri.edu">
      <li>BS in Business from Mizzou </li>
    </a>
    
    <li>Codeacademy</li>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Peer Tutor at STLCC Meramec</li>
    <li>Staff member at Launchcode STL</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Programming Club</li>
    <li>Finding bugs in websites</li>
    <li>Gospel Community at Auguste Gate Church</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">David</h2></div>
</body>
</html>

